*{
    margin: 0;
    padding: 0;

}
body{
    
    font-family: "Gabarito", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.container__sub{
    
    top: 0;
    max-width: 1300px;
    
    
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: solid grey 1px;
    justify-content: space-between;
    
    background-color: white;
    gap: 10px;
    z-index: 99;

    
}
.navbar__title{
    color: blueviolet;
    
}
.navbar__s2{
    border: solid black 2px;
    border-radius: 25px;
    width: 60%;
    display: flex;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;

}
.navbar__search{
    border: none;
    outline: none;
    width: 100%;
    font-size: large;
    
}
.navbar__s3{
    display: flex;
    
    gap: 20px;
    align-items: center;
    
}
.navbar__s3menu{
    position: relative;
   
   
}

.navbar__s3menu--popup{

    margin-top: 10px;
    right: 10px;
    border: solid black 2px;
    position: absolute;
    display: none;
    color:black;
    background-color:white;
    width: 100%;
    padding: 10px;
    text-align: center;
    right: 0;
    
   
   
}

.navbar__s3menu:hover .navbar__s3menu--popup{
    
    display: block;
}
.sale-image img{
    width: 100%;

}
.sale-image{
    position: relative;
}
.animbox{
    position: absolute;
    border: solid 2px;
    top: 100px;
    left: 100px;
    width: 400px;
    background-color: white;
    padding: 10px;
    animation-name: flashsale;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    
    
}
@keyframes flashsale {
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.category{
    
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
    border-bottom: solid grey 1px;
}
.category__menu{
    border-radius: 20px;
    padding: 10px;
    background-color: blueviolet;
    border: solid 1px;
}
.category__menu:hover{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: solid blueviolet 1px;
    transition: 1s;
}

.recommended__title{
    margin-top: 10px;
}
.recommended__subject-cards{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   

}
.recommended__subject-cards img{
    width: 100%;
    height: 200px;
}
.recommended__subject-cards__card{
    margin: 10px;
    width: 250px;
}
.recommended__subject-cards__card:hover{
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.topics__title{
    margin-top: 50px;
}
.topics p{
    border: solid grey 1px;
    padding: 10px;
    margin: 10px;
    flex-basis: 20%;
    text-align: center;
    
    
}
.topics p:hover{
    background-color: gray;
    color: white;
}
.topics__subjects{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    gap: 50px;    
}
.footer__s1__1 p{
    padding:5px;
}
.footer__s1__1{
    margin: 30px; 
}
.footer__s2{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
}
.footer__s2__title{
    padding: 20px;
    flex-grow: 1;
}
.footer__s2__para{
    padding: 20px;
}
